{% extends 'admin/adminnav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% block content %}

<div class=" m-4 p-4 container bg-dark text-white ">
    <!-- Add product form here -->
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
        {{form.errors}}
        </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
{% endblock %}

</body>
</html>