{% extends 'admin/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
   
    {% block content %}
    <div class="mt-5 container " >
    <div class="card text-white bg-dark container p-4  d-flex justify-content-center align-items-center">
        <form method="POST" enctype="multipart/form-data" class="justify-content-center align-items-center">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ form.errors }}
            </div>
            {% endif %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
</div>
 {% endblock %}

</body>
</html>