{% extends 'admin/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
  </head>
<body>
    {% block content %}


      <div class="container ">
        <h2 class="d-flex container justify-content-center" >Your Profile</h2>
    <div class=" mb-3 container d-flex container justify-content-center" >
      <img src="{{ profile.Image.url }}" alt="User Image" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 2px solid #fff;">
   </div>
        <div class="row">
          <div class="col-md-6">
            <h4>User Information</h4>
            <ul class="list-group">
              <li class="list-group-item">Username: {{ user.username }}</li>
              <li class="list-group-item">First Name: {{ user.first_name }}</li>
              <li class="list-group-item">Last Name: {{ user.last_name }}</li>
              <li class="list-group-item">Email: {{ user.email }}</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Profile Information</h4>
            <ul class="list-group">

              <li class="list-group-item">Address: {{ profile.address }}</li>
              <li class="list-group-item">Mobile: {{ profile.mobile }}</li>
              <!-- Add other profile fields here -->
            </ul>
          </div>
        </div>
      </div>
 <a href="{% url 'adminupdate_profile' %}" class="btn btn-primary m-4 ">Edit Profile  <i class="fas fa-edit"></i></a>
  

    {% endblock %}
    

</body>
</html>